[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ucl-beamer"]
	path = ucl-beamer
	url = git@github.com:UCL/ucl-beamer.git
[submodule "iterm"]
	path = iterm
	url = git@github.com:catppuccin/iterm.git
[submodule "catppucin_zathura"]
	path = catppucin_zathura
	url = git@github.com:catppuccin/zathura.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:catppuccin/alacritty.git
